# Airly data
AIRLY_API_KEY=<API_key>
AIRLY_LOCATION_ID=<location_id>
AIRLY_ENDPOINT=https://airapi.airly.eu/v2/measurements/location

# IMGW
IMGW_WEATHER_URL=https://danepubliczne.imgw.pl/api/data/synop/id/<station_id>

# DATABASE
DB_HOST= #Default: localhost
DB_PORT= #Default: 5432
DB_NAME= #Default: dodomudojade
DB_USERNAME=
DB_PASSWORD=

# ZTM
TRAM_URL=https://www.peka.poznan.pl/vm/method.vm
STOP_ID="<stop1>,<stop2>,..."

QUOTE_API_URL=https://quotes-api-self.vercel.app/quote
WORD_API_URL=http://api.wotd.site/query?date=

# Logging
LOGGING_DIRECTORY_PATH=<full_path>
LOGGING_LEVEL=<level>

APP_ENV=<dev/prod>