http://localhost:8000 {
	root * /Users/franek/Documents/GitHub/DoDomuDojade/public

	@stream path /stream
	@notphp path /favicon.ico /robots.txt /sitemap.xml

	handle @stream {
		reverse_proxy 127.0.0.1:9000 {
			transport fastcgi {
				env SCRIPT_FILENAME {root}/index.php
				env SCRIPT_NAME /index.php
				read_timeout 1h
			}
		}
	}

	handle @notphp {
		file_server
	}

	handle {
		php_fastcgi 127.0.0.1:9000 {
			header_up X-Accel-Buffering no
			env REQUEST_URI {uri}
			env PATH_INFO {uri}
			env SCRIPT_FILENAME {root}/index.php
			env SCRIPT_NAME /index.php
		}
	}

	log {
		output file ./logs/caddy-access.log
		format json
	}
}
