body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef;
    margin-top: auto;
}

#footer .inner {
    font-size: 14px;
    color: #6c757d;
}

#footer .logo img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

#footer .logo {
    margin-top: 15px;
}

#weather {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}

#header {
    background-color: #f0f0f0; /* Slightly lighter background for a softer look */
    border-radius: 12px; /* Increased border-radius for a more rounded appearance */
    padding: 30px; /* Increased padding for more spacing */
    /* Increased margin for better separation */
    margin: 0px 30px 30px;
    font-size: 18px; /* Larger font size for better readability */
    color: #222222; /* Darker text color for better contrast */
    line-height: 1.6; /* Slightly increased line-height for improved text spacing */
    text-align: center; /* Centered text for a balanced look */
}

.div {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}