<html lang="pl" x-data>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DoDomuDojadę</title>
    <link rel="icon" type="image/x-icon" href="/assets/resources/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d85f6b75e6.js" crossorigin="anonymous"></script>
    <link href="/assets/styles/output.css" rel="stylesheet" type="text/css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body x-data="layout()" x-init="load()" class="bg-primary-200 font-lato text-gray-800">
    <div x-ref="header" class="flex mx-1 my-2">
        <div x-data="{clock: clock(), weather: weather()}" x-init="clock.load(); weather.load()" class="flex flex-auto bg-white h-20 rounded-2xl shadow-custom justify-around items-center">
            <img src="/assets/resources/logo_samo_kolor.png" alt="logo" class="h-5 w-5 md:max-lg:h-10 md:max-lg:w-10 lg:h-15 lg:w-15">
            <div class="font-mono max-sm:hidden max-md:text-base max-lg:text-lg max-xl:text-xl max-2xl:text-2xl text-3xl font-extrabold flex items-center space-x-2">
                <i class="fa-solid fa-calendar text-primary-400"></i>
                <span x-text="clock.date"></span>
            </div>
            <div class="font-mono max-sm:hidden max-md:text-base max-lg:text-lg max-xl:text-xl max-2xl:text-2xl text-3xl font-extrabold flex items-center space-x-2">
                <i class="fa-solid fa-clock text-primary-400"></i>
                <span x-text="clock.time"></span>
            </div>
            <template x-if="weather.loading">
                <div class="bg-beige rounded-2xl m-2 p-2 shadow-custom font-mono max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl">
                    <p class="font-extrabold text-center">Ładowanie...</p>
                </div>
            </template>
            <template x-if="weather.error">
                <div class="bg-red-100 mx-3 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-red-500 rounded-lg items-center space-x-2 flex flex-grow w-full">
                    <i class="fa-solid fa-triangle-exclamation text-red-500 p-2.5" aria-hidden="true"></i>
                    <p class="text-red-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="weather.error"></p>
                </div>
            </template>
            <template x-if="!weather.loading && !weather.error && weather.weather">
                <div class="flex items-center space-x-2 max-sm:text-sm max-md:text-base max-lg:text-lg max-xl:text-xl max-2xl:text-2xl text-3xl font-extrabold font-mono">
                    <i class="fa-solid fa-temperature-three-quarters" :style="`color: ${weather.tempColor}`"></i>
                    <span x-text="`${weather.weather.temperature}°C`"></span>
                </div>
            </template>
            <template x-if="!weather.loading && !weather.error && weather.weather">
                <div class="flex items-center space-x-2 max-sm:text-sm max-md:text-base max-lg:text-lg max-xl:text-xl max-2xl:text-2xl text-3xl font-extrabold font-mono">
                    <i class="fa-solid fa-gauge text-primary-400"></i>
                    <span x-text="`${weather.weather.pressure} hPa`"></span>
                </div>
            </template>
            <template x-if="!weather.loading && !weather.error && weather.weather">
                <div class="flex items-center space-x-2 max-sm:text-sm max-md:text-base max-lg:text-lg max-xl:text-xl max-2xl:text-2xl text-3xl font-extrabold font-mono">
                    <i class="fas fa-air-freshener" :style="`color: ${weather.weather.airlyColour}`"></i>
                    <span x-text="weather.weather.airlyDescription"></span>
                </div>
            </template>
        </div>
    </div>

    <div class="grid grid-flow-col auto-cols-fr w-full overflow-x-auto px-1 gap-2 overflow-hidden" :style="`height: ${gridHeight}px;`">
        <div x-data="tramDepartures()" x-init="load()" x-ref="tramDiv" class="bg-white rounded-2xl shadow-custom py-2 px-1" :style="`height: ${tramHeight}px;`">
            <div x-show="loading" class="bg-beige rounded-2xl m-2 p-2 shadow-custom font-mono max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-extrabold text-center">
                <p class="font-extrabold text-center">Ładowanie...</p>
            </div>
            <div id="tramGrid" x-show="!loading && !error && departures.length">
                <div class="grid grid-cols-4 w-full text-center">
                    <div class="pb-2 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-bold text-primary-400">
                        <i class="fa-solid fa-train-tram"></i> Linia
                    </div>
                    <div class="col-span-2 pb-2 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-bold text-primary-400">
                        <i class="fa-solid fa-location-dot"></i> Kierunek
                    </div>
                    <div class="pb-2 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-bold text-primary-400">
                        <i class="fa-solid fa-clock"></i> Odjazd
                    </div>
                </div>
                <template x-for="(tram, index) in departures" :key="`${tram.line}-${index}`">
                    <div class="demo grid grid-cols-4 w-full text-center">
                        <div class="py-2 border-t border-gray-200 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl">
                            <div x-text="tram.line" :class="[(count[tram.line] || 'bg-white'), tram.line < 20 ? 'max-sm:h-5 max-sm:w-5 max-md:h-6 max-md:w-6 max-lg:h-8 max-lg:w-8 max-xl:h-9 max-xl:w-9 max-2xl:h-10 max-2xl:w-10 h-11 w-11 rounded-full' : 'max-sm:h-5 max-sm:w-6 max-md:h-6 max-md:w-8 max-lg:h-8 max-lg:w-10 max-xl:h-9 max-xl:w-11 max-2xl:h-10 max-2xl:w-12 h-11 w-13 border' ]" class="font-bold inline-flex items-center justify-center"></div>
                        </div>
                        <div class="col-span-2 py-2 border-t border-gray-200 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl">
                            <a x-text="tram.direction"></a>
                        </div>
                        <div class="py-2 border-t border-gray-200 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl">
                            <a x-html="formatMinutes(tram.minutes)"></a>
                        </div>
                    </div>
                </template>
            </div>
            <template x-if="error">
                <div class="bg-red-100 mt-3 mx-3 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-red-500 rounded-lg flex items-center space-x-2">
                    <i class="fa-solid fa-triangle-exclamation text-red-500 p-2.5"></i>
                    <p class="text-red-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="error"></p>
                </div>
            </template>
            <template x-if="info">
                <div class="bg-amber-100 mt-3 mx-3 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-yellow-500 rounded-lg flex items-center space-x-2">
                    <i class="fa-solid fa-triangle-exclamation text-yellow-500 max-sm:p-1.5 max-md:p-2 p-2.5" aria-hidden="true"></i>
                    <p class="text-yellow-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="info"></p>
                </div>
            </template>
        </div>

        <div class="bg-white rounded-2xl shadow-custom py-2 px-2 flex flex-col" :style="`height: ${tramHeight}px;`">
            <div x-data="multiModuleRotator()" x-init="load()" class="overflow-y-auto py-2">
                <template x-if="loading">
                    <div class="bg-beige rounded-2xl p-4 m-2 shadow-custom">
                        <p class="text-center max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-mono font-extrabold text-gray-500">Ładowanie...</p>
                    </div>
                </template>
                <template x-if="!loading && modules.length">
                    <template x-for="(mod, index) in modules" :key="`mod-${index}-${mod.type}`">
                        <div x-show="current2 === index" class="bg-beige rounded-2xl p-2 m-2 shadow-custom mb-4">
                            <template x-if="mod.type === 'countdown'">
                                <p class="font-mono max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-extrabold text-center" x-text="message"></p>
                            </template>
                            <template x-if="mod.type === 'quote'">
                                <div class="space-y-2 text-center">
                                    <p class="font-mono max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl italic" x-text="mod.data.quote"></p>
                                    <p class="text-right max-sm:text-[10px] max-md:text-xs max-lg:text-sm max-xl:text-base text-lg text-gray-600 mt-2" x-text="mod.data.from ? `— ${mod.data.from}` : ''"></p>
                                </div>
                            </template>
                            <template x-if="mod.type === 'word'">
                                <div class="space-y-2 text-center">
                                    <p class="font-mono max-sm:text-sm max-md:text-base md:max-lg:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-bold italic" x-text="mod.data.word"></p>
                                    <p class="font-mono max-sm:text-[10px] max-md:text-xs max-lg:text-sm max-xl:text-base text-lg italic text-gray-600" x-text="mod.data.ipa"></p>
                                    <p class="font-mono max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl italic" x-text="mod.data.definition"></p>
                                </div>
                            </template>
                            <template x-if="mod.type === 'event'">
                                <div>
                                    <div class="text-center flex items-center justify-around">
                                        <p class="px-2">
                                            <i class="fa-solid fa-calendar mr-1 text-primary-400"></i>
                                            <span class="font-bold max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl" x-text="mod.data.summary"></span>
                                        </p>
                                        <p class="px-2">
                                            <i class="fa-solid fa-clock mr-1 text-primary-400"></i>
                                            <span class="font-bold max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl" x-text="mod.data.end ? `${mod.data.start} - ${mod.data.end}` : mod.data.start"></span>
                                        </p>
                                    </div>
                                    <p>
                                        <i class="fa-solid fa-align-justify mr-1 text-primary-400"></i>
                                        <span class="max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl" x-text="mod.data.description"></span>
                                    </p>
                                </div>
                            </template>
                        </div>
                    </template>
                </template>
                <template x-show="!loading && !modules.length">
                    <div class="bg-beige rounded-2xl p-4 m-2 shadow-custom">
                        <p class="text-center text-gray-500 max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl">Brak danych do wyświetlenia</p>
                    </div>
                </template>
                <template x-if="error">
                    <template x-for="(errors, index) in error" :key="`error-${index}-${error}`">
                        <div class="bg-red-100 mt-2 mx-2 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-red-500 rounded-lg flex items-center space-x-2">
                            <i class="fa-solid fa-triangle-exclamation text-red-500 max-sm:p-1 max-md:p-1.5 p-2" aria-hidden="true"></i>
                            <p class="text-red-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="errors"></p>
                        </div>
                    </template>
                </template>
                <template x-if="info">
                    <template x-for="(infos, index) in info" :key="`info-${index}-${info}`">
                        <div class="bg-amber-100 mt-2 mx-2 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-yellow-500 rounded-lg flex items-center space-x-2">
                            <i class="fa-solid fa-triangle-exclamation text-yellow-500 max-sm:p-1 max-md:p-1.5 p-2" aria-hidden="true"></i>
                            <p class="text-yellow-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="infos"></p>
                        </div>
                    </template>
                </template>
            </div>
            <div x-data="announcements()" x-init="load()">
                <div x-show="!error && !info" class="overflow-y-auto py-2">
                    <template x-if="loading">
                        <p class="text-center max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl font-mono font-extrabold">Ładowanie...</p>
                    </template>
                    <template x-if="!loading && announcements">
                        <template x-for="(group, index) in grouped" :key="index">
                            <div class="" x-show="current === index">
                                <template x-for="(a, index) in group" :key="`${a.id}-${index}`">
                                <div class="bg-beige rounded-2xl p-2 shadow-custom mb-4">
                                        <h3 class="font-bold max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl" x-text="a.title"></h3>
                                        <p class="max-sm:text-xs max-md:text-sm max-lg:text-base max-xl:text-lg max-2xl:text-xl text-2xl" x-text="a.text"></p>
                                        <p class="max-sm:text-[10px] max-md:text-xs max-lg:text-sm max-xl:text-base text-lg text-gray-600 mt-1">
                                            <i class="fa-solid fa-user pl-2 text-primary-400"></i>
                                            <span x-text="a.author"></span>
                                        </p>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </template>
                </div>
                <template x-if="error">
                    <div class="bg-red-100 mt-3 mx-3 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-red-500 rounded-lg flex items-center space-x-2">
                        <i class="fa-solid fa-triangle-exclamation text-red-500 max-sm:p-1.5 max-md:p-2 p-2.5" aria-hidden="true"></i>
                        <p class="text-red-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="error"></p>
                    </div>
                </template>
                <template x-if="info">
                    <div class="bg-amber-100 mt-3 mx-3 max-sm:hidden max-md:text-xs max-lg:text-sm text-base border border-yellow-500 rounded-lg flex items-center space-x-2">
                        <i class="fa-solid fa-triangle-exclamation text-yellow-500 max-sm:p-1.5 max-md:p-2 p-2.5" aria-hidden="true"></i>
                        <p class="text-yellow-500 max-md:text-[10px] max-lg:text-xs max-xl:text-sm text-base font-medium" x-text="info"></p>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <script>
        function layout() {
            return {
                gridHeight: 0,
                load() {
                    this.calcGridHeight();
                    window.addEventListener('resize', () => this.calcGridHeight());
                    requestAnimationFrame(() => this.calcGridHeight());
                },
                calcGridHeight() {
                    const headerRect = this.$refs.header?.getBoundingClientRect() || { height: 0, top: 0, bottom: 0 };
                    const marginTop = parseFloat(getComputedStyle(this.$refs.header).marginTop) || 0;
                    const marginBottom = parseFloat(getComputedStyle(this.$refs.header).marginBottom) || 0;
                    const totalHeaderHeight = headerRect.height + marginTop + marginBottom;

                    this.gridHeight = window.innerHeight - totalHeaderHeight;
                    this.tramHeight = this.gridHeight - 4;
                }
            }
        }

        function clock() {
            return {
                date: '',
                time: '',
                load() {
                    this.update();
                    setInterval(() => this.update(), 1000);
                },
                update() {
                    const now = new Date();
                    this.date = now.toLocaleDateString('pl-PL');
                    this.time = now.toLocaleTimeString('pl-PL');
                }
            }
        }

    function weather() {
        return {
            weather: null,
            tempColor: '#000',
            error: null,
            info: null,
            loading: true,
            setTempColor(t) {
                this.tempColor = t <= -10 ? '#1E40AF' :
                t <= 0 ? '#0EA5E9' :
                t <= 5 ? '#FFB3B3' :
                t <= 15 ? '#FCD34D':
                t <= 25 ? '#F97316' :'#DC2626';
            },
            async load() {
                try {
                    const res = await fetch('/display/weather', {
                        method: 'GET',
                        headers: { 'Content-Type': 'application/json' },
                    });
                    if (!res.ok) this.error = (`Błąd HTTP ${res.status} modułu weather`);
                    let json;
                    try {
                        json = await res.json();
                    } catch (e) {
                        this.error = ('Niepoprawny JSON');
                    }
                    if (json && typeof json.weather === 'object') {
                        if (JSON.stringify(this.weather) !== JSON.stringify(json.weather)) {
                            this.weather = json.weather;
                            if (!Number.isNaN(Number(this.weather.temperature))) this.setTempColor(this.weather.temperature);
                        }
                    } else {
                        this.info = 'Brak dostępnych odczytów pogodowych';
                    }
                } catch (e) {
                    this.error = 'Błąd wyświetlania modułu weather';
                } finally {
                    this.loading = false;
                }
                setTimeout(() => this.load(), 60000);
            }
        }
    }

    function tramDepartures() {
        return {
            departures: [],
            error: null,
            info: null,
            loading: true,
            count: {
                '1': 'bg-pink-700',
                '2': 'bg-2',
                '3': 'bg-green-500',
                '5': 'bg-purple-700',
                '6': 'bg-6',
                '7': 'bg-teal-500',
                '8': 'bg-violet-500',
                '9': 'bg-9',
                '10': 'bg-slate-500',
                '11': 'bg-purple-400',
                '12': 'bg-12',
                '13': 'bg-amber-500',
                '14': 'bg-green-400',
                '15': 'bg-blue-400',
                '16': 'bg-red-400',
                '17': 'bg-red-400',
                '18': 'bg-18',
                '19': 'bg-19',
            },

            async fetchDepartures() {
                try {
                    const res = await fetch('/display/departure', {
                        method: 'GET',
                        headers: { 'Content-Type': 'application/json' },
                    });
                    if (!res.ok) this.error = (`Błąd HTTP ${res.status} modułu departures`);
                    let json;
                    try {
                        json = await res.json();
                    } catch (e) {
                        this.error = ('Niepoprawny JSON odjazdów');
                    }

                    if (json && Array.isArray(json.departures)) {
                        if (JSON.stringify(this.departures) !== JSON.stringify(json.departures)) {
                            this.departures = json.departures;
                        }
                    } else {
                        this.info = 'Brak dostępnych odjazdów';
                    }
                } catch (e) {
                    this.error = 'Błąd działania modułu departures';
                } finally {
                    this.loading = false;
                }
            },

            formatMinutes(min) {
                if (min === 0) return '<1';
                if (min < 60) return `${min}`;
                const h = Math.floor(min / 60), m = min % 60;
                return `${h}h ${m}`;
            },

            calcExcessTram() {
                var parentEl = this.$refs.tramDiv;
                var els = document.getElementsByClassName('demo');
                for (var i = els.length - 1; i >= 0; i--) {
                    if (!(parentEl.scrollHeight > parentEl.clientHeight || parentEl.scrollWidth > parentEl.clientWidth)) {
                        break;
                    }
                    var el = els[i];
                    if (el) {
                        el.remove();
                    }
                }
            },

            checkOverflow() {
                const elname = this.$refs.tramDiv;
                if (elname.scrollHeight > elname.clientHeight || elname.scrollWidth > elname.clientWidth) {
                    this.calcExcessTram();
                }
            },

            async load() {
                await this.fetchDepartures();
                const refreshData = async () => {
                    await this.fetchDepartures();
                    requestAnimationFrame(() => this.checkOverflow());
                };
                await refreshData();
                setInterval(refreshData, 60000);
            }
        };
    }

    function multiModuleRotator() {
        return {
            modules: [],
            current2: 0,
            loading: true,
            error: [],
            info: [],
            rotateId: null,
            countdownData: null,
            countdownIntervalId: null,
            message: '',

            endpoints: [
                { name: 'countdown', url: '/display/countdown' },
                { name: 'quote', url: '/display/quote' },
                { name: 'word', url: '/display/word' },
                { name: 'events', url: '/display/event' }
            ],
            names: {
                countdown: 'odliczania',
                quote: 'cytatu',
                word: 'słowa dnia',
                events: 'wydarzeń'
            },

            async load() {
                try {
                    const promises = this.endpoints.map(async ({name, url}) => {
                        try {
                            const res = await fetch(url, {
                                method: 'GET',
                                headers: { 'Content-Type': 'application/json' },
                            });
                            if (!res.ok) this.error = (`Błąd HTTP ${res.status} modułu ${name}`);
                            let json;
                            try {
                                json = await res.json();
                            } catch (e) {
                                this.error = (`Niepoprawny JSON ${this.names[name]}`);
                            }

                            if (!json && !this.error.includes(`Brak danych w module ${name}`)) {
                                this.error.push(`Brak danych w module ${name}`);
                                return [];
                            }

                            if (name === 'events') {
                                const events = json.events;
                                if (!events || !Array.isArray(events)) {
                                    if (!this.info.includes('Brak dostępnych wydarzeń')) {
                                        this.info.push('Brak dostępnych wydarzeń');
                                    }
                                    return [];
                                }
                                return Array.isArray(events) ?
                                    events.map(e => ({type: 'event', data: e})) :
                                    [{type: 'event', data: events}];
                            }

                            if (name === 'countdown') {
                                if (!json.countdown || !json.countdown.count_to) {
                                    if (!this.info.includes('Brak dostępnego odliczania')) {
                                        this.info.push('Brak dostępnego odliczania');
                                    }
                                    return [];
                                }
                                return [{type: 'countdown', data: json.countdown}];
                            }

                            if (name === 'word') {
                                if (!json.word || !json.word.word) {
                                    if (!this.info.includes('Brak dostępnego słowa dnia')) {
                                        this.info.push('Brak dostępnego słowa dnia');
                                    }
                                    return [];
                                }
                                return [{type: 'word', data: json.word}];
                            }

                            if (name === 'quote') {
                                if (!json.quote || !json.quote.from) {
                                    if (!this.info.includes('Brak dostępnego cytatu')) {
                                        this.info.push('Brak dostępnego cytatu');
                                    }
                                    return [];
                                }
                                return [{type: 'quote', data: json.quote}];
                            }

                            return [];
                        } catch(e) {
                            if (!this.error.includes(`Błąd wyświetlania modułu ${name}`)) {
                                this.error.push(`Błąd wyświetlania modułu ${name}`);
                            }
                            return [];
                        }
                    });

                    const results = await Promise.all(promises);
                    this.modules = results.flat().filter(Boolean);
                    console.log(this.modules);
                    this.updateCountdown();
                    this.loading = false;
                    this.startRotation();

                } catch(e) {
                    if (!this.error.push('Błąd działania modułu rotacji')) {
                        this.error.push('Błąd działania modułu rotacji');
                    }
                    this.loading = false;
                }
                setTimeout(() => this.load(), 40000);
            },


            startRotation() {
                if (this.rotateId) clearInterval(this.rotateId);
                this.current2 = 0;
                if (this.modules.length > 1) {
                    this.rotateId = setInterval(() => {
                        this.current2 = (this.current2 + 1) % this.modules.length;
                    }, 10000);
                }
            },

            updateCountdown() {
                if (this.countdownIntervalId) clearInterval(this.countdownIntervalId);

                const countdownModule = this.modules.find(m => m.type === 'countdown');
                if (!countdownModule?.data?.count_to) {
                    this.countdownData = null;
                    this.message = '';
                    return;
                }

                this.countdownData = countdownModule.data;
                this.update();
                this.countdownIntervalId = setInterval(() => this.update(), 1000);
            },

            update() {
                if (!this.countdownData) return;

                const end = new Date(this.countdownData.count_to * 1000);
                const diff = end - Date.now();

                if (diff <= 0) {
                    this.message = 'Zakończono!';
                    if (this.countdownIntervalId) {
                        clearInterval(this.countdownIntervalId);
                        this.countdownIntervalId = null;
                    }
                    return;
                }

                const d = Math.floor(diff / 86400000),
                h = Math.floor((diff % 86400000) / 3600000),
                m = Math.floor((diff % 3600000) / 60000),
                s = Math.floor((diff % 60000) / 1000);

                const odmianadni = d === 1 ? '1 dzień' : `${d} dni`;
                const odmianagodzin = [1].includes(h) ? '1 godzina' :
                [2,3,4,22,23].includes(h) ? `${h} godziny` : `${h} godzin`;
                const odmianaminut = [1].includes(m) ? '1 minuta' :
                [2,3,4,22,23,24,32,33,34,42,43,44,52,53,54].includes(m) ? `${m} minuty` : `${m} minut`;
                const odmianasekund = [1].includes(s) ? '1 sekunda' :
                [2,3,4,22,23,24,32,33,34,42,43,44,52,53,54].includes(s) ? `${s} sekundy` : `${s} sekund`;

                this.message = `Do ${this.countdownData.title}: ${odmianadni} ${odmianagodzin} ${odmianaminut} ${odmianasekund}`;
            }
        }
    }

    function announcements() {
        return {
            announcements: [],
            grouped: [],
            current: 0,
            error: null,
            loading: true,
            info: null,
            rotateIntervalId: null,
            async load() {
                try {
                    const res = await fetch('/display/announcement', {
                        method: 'GET',
                        headers: { 'Content-Type': 'application/json' },
                    });
                    if (!res.ok) this.error = (`Błąd HTTP ${res.status} modułu announcements`);
                    let json;
                    try {
                        json = await res.json();
                    } catch (e) {
                        this.error = ('Niepoprawny JSON ogłoszeń');
                    }
                    if (json && Array.isArray(json.announcements)) {
                        if (JSON.stringify(this.announcements) !== JSON.stringify(json.announcements)) {
                            this.announcements = json.announcements;
                            this.loading = false;
                            this.grouped = this.chunk(this.announcements, 1);
                            if (this.rotateIntervalId) clearInterval(this.rotateIntervalId);
                            this.rotate();
                        }
                    } else {
                            this.info = 'Brak dostępnych ogłoszeń';
                    }
                } catch (e) {
                    this.error = 'Błąd działania modułu announcements';
                    if (this.rotateIntervalId) clearInterval(this.rotateIntervalId);
                } finally {
                    this.loading = false;
                }
                setTimeout(() => this.load(), 8000);
            },
            chunk(arr, size) {
                return Array.from({ length: Math.ceil(arr.length / size) },
                    (_, i) => arr.slice(i * size, i * size + size));
            },
            rotate() {
                this.rotateIntervalId = setInterval(() => {
                    this.current = (this.current + 1) % this.grouped.length;
                }, 8000);
            }
        }
    }
</script>
</body>
</html>
